.toggle{
    /* margin-top: -50px; */
    /* margin-right: 10px; */
    /* text-align: right; */
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 43px;
    cursor: pointer;
}
.my-relative{
    position: relative;
}